@media only screen and (min-width: 1920px) {
  @keyframes image-zoom {
    0%  { 
      background-size: 100% auto; 
    }
    100% { 
      background-size: 110% auto;  
    }
  }
  #ca1.owl-carousel .item1 {
    background-size: 100% auto;
  }
  #ca1.owl-carousel .item2 {
    background-size: 100% auto;
  }
  #ca1.owl-carousel .item3 {
    background-size: 100% auto;
  }
}

@media (max-width: 1399.98px) {

}

@media only screen and (min-width: 1600px) and (max-width: 1900px) {
}

@media only screen and (min-width: 1200px) and (max-width: 1280px) {
}

@media (max-width: 1199.98px) {
  .display-3 {
    font-size: 58px;
    line-height: 58px;
  }
  
  .secH {
    font-size: 32px;
    line-height: 40px;
  }
  
  .therdH {
    font-size: 28px;
    line-height: 32px;
  }
  
  .fourthH {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (max-width: 991.98px) {
  .display-3 {
    font-size: 46px;
    line-height: 46px;
  }
  
  .secH {
    font-size: 28px;
    line-height: 40px;
  }
  
  .therdH {
    font-size: 26px;
    line-height: 32px;
  }
  
  .fourthH {
    font-size: 22px;
    line-height: 28px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-mega .dropdown-menu {
    position: static;
    width: 100%;
  }
  .dropdown-menu li {
    width: 100%;
  }

  .nav-item:first-of-type{
    padding-left: 0;
    position: relative;
  }
  .nav-item:first-of-type::after{
   display: none;
  }

  .megaHeding::after {
    content: "\f107";
    font-size: 14px;
    margin-left: 4px;
    line-height: 1;
    font-weight: 900;
    font-family: "Font Awesome 6 free";
    border: none;
  }
  .galleryMega .col-lg-4 {
    display: flex;
    flex-direction: column;
  }

  .megaHeding.active {
    color: var(--blue);
  }
  .list-group .list-group-item:last-child {
    padding-bottom: 10px;
  }

  .about-section .container > .row {
    row-gap: 40px;
  }

  
.callRow{
  margin-top: 30px;
  justify-content: start;
  row-gap: 24px;
}
.callCards{
  display: flex;
  word-wrap: break-word;
  word-break: break-all;
  justify-content: start;
  position: relative;
}

.serviceDescription .container>.row{
  row-gap: 50px;
}

.googleReview .container>.row{
  row-gap: 50px;
}
.navbar-nav {
  gap: 4px;
}
}

@media screen and (max-width: 912px) {
  .mega-content .row {
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .display-3 {
    font-size: 36px;
    line-height: 46px;
  }
  
  .secH {
    font-size: 24px;
    line-height: 40px;
  }
  
  .therdH {
    font-size: 22px;
    line-height: 32px;
  }

  .about-section {
    text-align: center;
  }

  .about-text {
    padding-right: 0;
  }

  .about-highlights {
    justify-content: center;
  }

  .footer.defaultPadding{
    padding: 34px 0;
  }
  .footer .secH{
    text-align: center;
    margin-bottom: 24px;
  }
  .footer .container>.row{
    justify-content: center;
    row-gap: 40px;
  }
  
  .footer .social-icons{
  justify-content: center;
  }
  .footer .exploreLinks ul li{
  text-align: left;
  }

  .footer-brand{
    display: table !important;
    margin: auto;
  }
  .footer {
    text-align:center;
  }
  .footer .locationLink{
    max-width: 200px;
  }
  .footer ul:not(.footer .exploreLinks1 ul) {
    max-width: 257px;
    margin: auto;
  }
  .footer .exploreLinks1 ul{
    max-width: 352px; 
  }
  .footer .exploreLinks1 ul li{
    text-align: left;
    }
  .footer .exploreLinks1 ul {
    margin: auto;
  }
  .footer .exploreLinks ul {
    max-width: 132px !important;
    margin: auto;
  }

  .NewBanner img{
    max-height: unset;
  }
  
  
  .NewBanner img:not(img[class]) {
    max-height: unset;
    min-height: 500px;
    object-fit: cover;
  }

  .BannerWithText{
    padding: 50px 20px;
  }

  #ca1.owl-carousel .item2 {
    background:linear-gradient(#00000073, #00000073), url("../image/BannerMob2.jpeg")
      no-repeat center;
  }
  #ca1.owl-carousel .item3 {
    background:linear-gradient(#00000073, #00000073), url("../image/BannerMob3.jpeg")
      no-repeat center;
  }
  
}



@media (max-width: 575.98px) {
  #ca1.owl-carousel .bannerCard {
    margin: auto;
  }

  @keyframes image-zoom {
    0%  { 
      background-size: auto 100%; 
    }

    100% { 
      background-size: auto 110%;  
    }
  }
  #ca1.owl-carousel .item1 {
    background-size:  auto 100%;
  }
  #ca1.owl-carousel .item2 {
    background-size:  auto 100%;
  }
  #ca1.owl-carousel .item3 {
    background-size:  auto 100%;
  }

  .Banner .owl-nav button {
    pointer-events: initial;
    height: 40px;
    width: 44px;
    background-color: var(--skyblue) !important;
    line-height: 1.25;
    text-transform: capitalize;
    color: var(--lightGrey) !important;
  }

  .bannertext1 {
    padding: 30px !important;
    color: #ffffff;
  }
  

  .bannertext1 .display-3 a {
    color: #ffffff;
  }
}

@media only screen and (max-height: 539.98px){
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
  #ca1.owl-carousel .item1 {
    background-size:   100% auto;
  }
  #ca1.owl-carousel .item2 {
    background-size:   100% auto;
  }
  #ca1.owl-carousel .item3 {
    background-size:   100% auto;
  }

  @keyframes image-zoom {
    0%  { 
      background-size: 100% auto; 
    }
    100% { 
      background-size: 110% auto;  
    }
  }
}

@media only screen and (max-height: 539.98px) and (max-width: 1024px){
  #ca1.owl-carousel .item {
    padding: 80px 12px;
    background-color: red;
    height: unset;
  }
  #ca1.owl-carousel .item > .row {
    position: relative;
    left: unset;
    top: unset;
    transform: unset;
    width: auto;
  }
  #ca1.owl-carousel .item1 {
    background-size: 100% 100%;
    background-size: cover;  
  }
  #ca1.owl-carousel .item2 {
    background-size: 100% 100%;
    background-size: cover;  
  }
  #ca1.owl-carousel .item3 {
    background-size: 100% 100%;
    background-size: cover;  
  }

  @keyframes image-zoom {
    0%  { 
      background-size: 100% 100%; 
      background-size: cover; 
    }
    100% { 
      background-size: 100% 120%;
      background-size: cover;  
    }
  }


  .desktopImg{
   display: block !important;
  }
 
  .mobileImg{
   display: none !important;
  }
 
}

@media only screen and (max-width: 479px) {
}
