<div class="container">
  <div class="row">
    <!-- Company Info -->
    <div class="col-lg-3 col-sm-6 mb-4 mb-md-0">
      <a class="footer-brand" href="index.html">
        <img src="image/RP Associates Logo.png" alt="Unique pest control logo">
      </a>
      <p>
        We specialize in transforming our clients’ visions into designs that seamlessly blend functionality and aesthetics. Our focus is on creating purposeful spaces where design meets meaning, ensuring every detail serves a reason.
      </p>
    </div>

    <div class="col-sm-6 col-lg-auto mb-4 mb-md-0 exploreLinks">
      <h5 class="secH">Quick Links</h5>
      <ul>
        <li>
          <a href="../index.html"><i class="fa-solid fa-angles-right"></i>Home</a>
        </li>
        <li>
          <a href="../services.html"><i class="fa-solid fa-angles-right"></i>Services</a>
        </li>
        <li>
          <a href="../projects.html"><i class="fa-solid fa-angles-right"></i>Projects</a>
        </li>
        <li>
          <a href="../contact.html"><i class="fa-solid fa-angles-right"></i>Contact</a>
        </li>
       
      </ul>
    </div>

    <!-- Contact Info -->
    <div class="col-lg-3 col-sm-6 emailSec">
      <h5 class="secH">Reach Us</h5>

      <ul class="contact-info">
        <li>
          <a class="locationLink" target="_blank" href="https://maps.app.goo.gl/nEmBaPcCyQ3wbHrj7"><i class="fa-solid fa-location-dot" aria-hidden="true"></i>52-53, FF, Samanvay Status-2, Atladara-Padra main rd. Vadodara</a>
        </li>
        <li>
          <a href="tel:+91 6354710794"><i class="fa-solid fa-mobile-screen-button" aria-hidden="true"></i> +91 6354 710 794</a>
        </li>
        <li>
          <a class="emailAnchor" href="mailto:rpassociates53@gmail.com"><i class="fa-solid fa-envelope" aria-hidden="true"></i>rpassociates53@gmail.com</a>
        </li>
      </ul>
      <div class="social-icons mt-3">
        <a class="facebook" href="#"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i></a>
        <a class="instagram" href="#"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <a class="whatsapp" href="#"><i class="fa-brands fa-whatsapp" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>