<link fetchpriority="high" rel="preload" href="image/RP Associates Logo.png" as="image" type="image/png"/>

<nav  class="navbar navbar-expand-lg bg-light py-3">
    <div class="container header">
      <a class="navbar-brand" href="index.html">
       <img src="image/RP Associates Logo.png" alt="RP Associates Logo">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href ="index.html"
              >Home</a
            >
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="services.html">Our Services</a></li>
              <li><a class="dropdown-item" href="residenceSpaces.html">Architectural planning for Residence spaces</a></li>
              <li><a class="dropdown-item" href="#">Interior Designing for Residence spaces</a></li>
              <li><a class="dropdown-item" href="#">Architectural planning for Commercial spaces</a></li>
              <li><a class="dropdown-item" href="#">Interior Designing for Commercial spaces</a></li>
              <li><a class="dropdown-item" href="#">Resort/Farm House Planning and Interior</a></li>
       
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  

