@font-face {
    font-family: 'Sui Generis Rg';
    src: url('SuiGenerisRg-Regular.woff2') format('woff2'),
        url('SuiGenerisRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

